* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.sidebar {
    background: rgb(228, 148, 160);
    margin-top: 60px;
    position: fixed;
    padding-top: 30px;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    z-index: 1;
}

.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    background: #ccc;
}

.sidebar h4 {
    color: rgb(60, 61, 65);
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar p {
    display: block;
    width: 100%;
    color: rgb(60, 61, 65);
    padding-left: 40px;
    text-decoration: none;
    line-height: 60px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar p:hover {
    cursor: pointer;
    color: #fff;
    background: palevioletred;
}

.sidebar i {
    padding-right: 10px;
}

li #sidebar_btn {
    color: #fff;
    margin-left: 40px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: background;
}

li #sidebar_btn:hover {
    color: rgb(95, 50, 65);
}

#check:checked ~ .sidebar {
    left: -190px;
}

#check:checked ~ .sidebar span{
    display: none;
}

#check:checked ~ .sidebar p {
    margin-left: 170px;
    width: 80px;
    font-size: 20px;
}

.content {
    margin-left: 250px;
    transition: 0.5s;
    padding: 76px 0px 20px 0px;
}

#check:checked ~ .content {
    margin-left: 60px;
}

#check {
    display: none;
}