.sort-box {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #ddd;
}

.filter-section {
    width: 24%;
    padding: 5px 10px 5px 10px;
}

.filter-section input {
    height: 26px;
    padding: 4px;
    font-size: 13px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 640px) {
    .filter-section {
        width: 100%;
    }
}

.filter-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding:3px;
    color: rgba(0, 0, 0, 0.7);
}

.filter-box {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #eee;
}

.filter-range {
    font-style: italic;
    font-size: 13px;
}

.filter-range-value {
    font-size:12px;
    color:purple;
    font-family: fantasy,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.display-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.tag__ {
    margin: 2px;
    padding: 2px;
    color: dimgray;
    background-color: #fff;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid dimgray;
}