.filter-section {
    width: 22%;
    padding: 5px 0px 5px 30px;
}

.sort-box {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #ddd;
}

.filter-section input[type="range"] , input[type="text"]
{
    width: 90%;
}

.filter-section  input[type="text"]
{
    height: 26px;
    padding: 4px;
    font-size: 13px;
    margin-bottom: 3px;
    border: none;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.filter-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding:3px;
    color: rgba(0, 0, 0, 0.7);
}

.filter-box {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #eee;
}

.filter-range {
    font-style: italic;
    font-size: 13px;
}

.filter-range-value {
    font-size:12px;
    color:purple;
    font-family: fantasy,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}

.display-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}

.tag__ {
    padding: 2px;
    color: crimson;
    background-color: #fff;
    font-size: 13px;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid crimson;
}

@media only screen and (max-width: 640px) {
    .filter-section {
        width: 100%;
        font-size: smaller;
        padding: 3px 0px 3px 5px;
    }
    .sort-box {
        width: calc(100vw - 60px);
    }
    .filter-box {
        width: calc(100vw - 60px);
    }
}