.nav-ba {
    width: 100%;
    background-color: palevioletred;
    box-shadow: 0 5px 5px -5px dimgray;
    top: 0;
    line-height: 30px;
    position: fixed;
    z-index: 2;
}
  
.nav-img img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
  
  
.nav-tags {
  font-size: 20px;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
  
.push-nav-start {
    display: flex;
    padding-left: 30px;
}

.push-nav-end {
    display: flex;
    padding-right: 50px;
}

li {
    padding: 24px 20px 18px 20px;
}
  
li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: "Source Sans Pro","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
  
li a:hover {
    text-decoration: none;
}
  
.logo-matcha {
  color: rgb(60, 61, 65);
  text-align: center;
  font-family: sans-serif, serif;
  font-size: 20px;
  font-weight: 900;
}
  
.logo-matcha:hover {
  color: rgb(60, 61, 65);
}

.nav-ba .nav-logout {
  color: rgb(60, 61, 65);
}
  
@media only screen and (max-width: 600px) {
  ul {
    font-size: 13px;
  }
  .logo-matcha {
    font-size: 15px;
  }
  li {
    padding: 20px 0px 20px 20px;
  }
  .nav-tags {
    font-size: 16px;
  }
}