.info__key {
    font-size: 13px;
    font-weight: 100;
    color: crimson;
}
  
.info__value {
  font-size: 13px;
  font-weight: 100;
}

.status__value {
  font-size: 14px;
  font-weight: 100;
  color: magenta;
}

.user__bio {
  font-size: 14px;
  font-weight: 100;
  color: black;
}

.user__tag {
  font-size: 13px;
  font-weight: 100;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.3);
  margin: 3px 5px 3px 0px;
  padding: 1px;
  border-radius: 3px;
}

.profile__imgs {
  display: flex;
  justify-content: flex-start;
  background-color: pink;
}

.profile__imgs img {
  width: 64px;
  margin-right: 4px;
  height: 74px;
  border-radius: 4px;
}